.main-article {
  background-color: $white-color;

  .title-article {
    padding-top: 1.250em;
    padding-left: 3.125em;

    .breadcrumbs-article {
      a {
        color: $black-color;
      }
      .article-icon {
        padding-left: 0.313em;
        padding-right: 0.313em;
        color: $orange-color;
      }
    }
  }
  .content-article {
    padding-left: 1.563em;
    padding-right: 1.563em;
    padding-bottom: 3.125em;
    padding-top: 0.313;
    p {
      color: $font-color;
      text-align: justify;
      margin: 1.563em;
      a {
        color: $orange-color;
        text-decoration: underline;

      }
    }
    .article-updated {
      padding-left: 0.5em;
      font-size: 0.750em;
    }
  }
}
