.categorie-content {

  .title-categorie {
    margin-bottom: 0.125em;
    background-color: $white-color;
    height: 5.625em;

    h2 {
      padding-left: 0.875em;
      height: inherit;
      vertical-align: middle;
      margin: 0px;
      display: table-cell;
    }
  }

  .content-categorie {

    background-color: $white-color;
    padding-bottom: 0.625em;
    padding-top: 0.625em;
    margin-bottom: 0.125em;

    h4 {
      padding-left: 1.875em;
      color: $orange-color;

    }
  }

  .categorie-content-title {
    background-color: $white-color;
    .title {

      background-color: $gray-7-color;
      padding-bottom: 0.625em;
      padding-top: 0.625em;
      padding-right: 3em;
      padding-left: 3em;
      margin-bottom: 0.125em;
      margin-right: 0.125em;
      margin-left: 0.125em;
      color: $font-color;
      font-weight: bolder;

      i {
        padding-right: 0.938em;
      }
    }
  }

  .categorie-items {

    background-color: $white-color;
    padding-bottom: 0.625em;
    padding-top: 0.625em;
    padding-right: 3.188em;
    padding-left: 3.188em;
    margin-bottom: 0.125em;

    &:hover {
      color: $orange-color;
    }
    i {
      color: $gray-color;
      margin-right: 0.938em;
    }
  }
}

.cat-search {
}