.header__logo {
    display: inline-block;
    float:left;
    padding: 11px 0;
    img {
        display:block;
    }
}

.navbar {
    min-height: 50px;

    .container {
        // padding-top:11px;
        // padding-bottom:11px;
        // max-width:1170px;
        position:relative;
        padding: 0em 1.5em 0em 1.5em;
    }
}

#header {

    .navbar-inner {
        //background:$header-color;
        border:none;
    }

    .header__nav {
        //position:absolute;
        //right:0;
        //bottom:0;
    }

    .popover {
        max-width:330px;
        left:-200px !important; //override js

        .arrow {
            left:auto;
            margin-left: 0;
            right:24px;
        }
    }

    .popover-content {
        padding:9px 14px;
    }

    .nav {
        li{
            &.is-active {
                a {
                    &:after{
                        background: $white-color;
                    }
                }
            }

            a {
                @include adjust-font-size-to(15px, .9);

                &:after{
                    position: absolute;
                    content: '';
                    height: 3px;
                    left:1em;
                    right: 1em;
                    background: transparent;
                    bottom: 0px;
                }

                &:hover{
                    &:after{
                        background: $white-color;
                    }
                }
            }

            &:first-child{
                margin-left: 2em;

                a{
                    padding-left: 0em;

                    &:after{
                        left: 0em;
                    }
                }
            }
        }
    }

    .pull-right{
        li{
            &:first-child{
                margin-left: 0px;
            }
        }
    }

    .signin-lnk,
    .lnk-drop,
    .dropdown-toggle{
        @include adjust-font-size-to(15px, .9);
        cursor: default;
        padding-top: 10px;
        padding-bottom: 11px;
        color: $white-color;
        display: block;
        padding: 10px 0em 10px 1em;
    }

    .dropdown-menu{
        li:first-child{
            margin-left: 0em;

            a{
                padding: 3px 20px;
            }
        }
    }

    .signin-lnk__caret-wrapper{
        cursor: pointer;

        display: inline-block;
        padding: 2px 9px;
        margin-left: 8px;
        border: 2px solid $white-color;
        height: 30px;
        width: 30px;

        .caret{
            margin-left: 0px;
        }
    }
}
