#header {

  #helpcenter-nav {
    background: $gray-bg-1 !important;
    margin-bottom: 0.938em;
    max-width: 1024px;
    margin: 0 auto !important;
    float: none !important;

    .btn-helpcenter {
      background-color: $orange-color!important;
      width: 5.000em;
    }
    .nav > li {
      > a {
        line-height: 2.500em;
        height: 2.813em;
        padding-top: 0.625em;
        color: #676767 !important;
        font-weight: bolder;
        text-shadow: none !important;
      }
      > a:hover {
        color: $orange-color !important; //$$orange-color;
        text-shadow: none !important;
      }
      > a:hover:after {
        background: $orange-color;
      }

      .lnk-drop {
        color: #676767;
        //font-weight: bolder;
        text-shadow: none !important;
        .signin-lnk__caret-wrapper {
          padding: 0.500em 0em;
          border: none; //2px solid #FF4C00; //$$orange-color;
          > span > img {
            vertical-align: top;
          }
        }
      }
      .lnk-drop:active {
        color: $orange-color; //$$orange-color;
      }
    }

    .submenu-content {
      min-width: 130px !important;
      padding: 0.563em 0.875em;
      a {
        color: #000000;
        display: block;
      }
      a:hover {
        color: $orange-color; //$$orange-color;
        display: block;
      }
    }
  }
}

