.home-welcome {

  background-color: $gray-bg-1;
  height: 12.850em;
  max-width: 1024px;
  margin: 0 auto !important;
  float: none !important;

  > h1 {
    text-align: center;
    padding-top: 0.625em;
    padding-bottom: 0.875em;

    margin: 0px;
    color: #363636;

  }

  > .search-welcome {
    max-width: 60%;
  }

}

.video-conteiner {
  background-color: $white-color;
  padding-left: 0.625em;
  padding-right: 0.625em;
  //  margin-bottom: 0.625em;

  .video-turorial {

    margin: 0.625em;
    > a {
      > h6 {
        color: $gray-color;
        font-weight: bolder;
      }
      > h5 {
        color: $font-color;
        text-shadow: 0px 0px $gray-4-color;
      }
    }
    &:hover {
      > a {
        > h6 {
          color: $gray-color;
          font-weight: bolder;
        }
        > h5 {
          color: $orange-color;
          text-shadow: 0px 0px $gray-4-color;
        }
      }
    }
  }
}

.getting-title {

  background-color: $white-color;
  padding-bottom: 0.625em;
  padding-top: 0.625em;
  padding-left: 2.188em;
  padding-right: 2.188em;

  a {
    color: $red-color;
    font-weight: bolder;
  }
  .fa-angle-right {
    color: $red-color;

  }

  .items {

    background-color: $white-color;
    padding-bottom: 0.625em;
    padding-top: 0.625em;

      &:hover{
        color: $orange-color;
      }
    i{
      color: $gray-color;
      margin-right: 0.625em;
    }

  }
}




