html {
    height:100%;
    overflow: auto;
}

body {
    @include background( linear-gradient(color-stops(#f8f7f8 0%, #fefefe 262px)));
    background-repeat: no-repeat;
}

#wrapper {
    // min-height: 460px;
    // margin-bottom: 2em;
}

#wrapper.embedded {
  // padding-top: 20px;
  padding-top: 10px;
}

.align-right {
    text-align:right;
}

.image-center {
    display: block;
    margin:0 auto;
}

a:hover,
a:focus {
    text-decoration:none;
}

.prepend1-2 {
    margin-left:70px;
}

.append1-2 {
    margin-right:70px;
}

pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:15px;
    background: #f3f3f3;
    color:$gray-8-color;
}

.breadcrumb {
    @include adjust-font-size-to(14px, .7);
    font-weight: 600;
    background: none;
    color:$gray-8-color;
    text-transform: uppercase;
    padding:0;
    margin: 1em 0 1.9em;

    .back__link {
        float: right;
        font-weight: normal;
        text-transform: none;

        a {
            color:$primary-color;

            &:hover {
              color:$nav-link-color-hover;
            }
        }
    }

    &.url-edit__breadcrumb {
        margin: 0;
        .back-link {
            display: block;
            color: $gray-color;
            @include adjust-font-size-to(11px, 0.5);
            margin-bottom: 1em;
            // font-weight: 300;
        }

        .url-edit__breadcrumb__path {
            @include adjust-font-size-to(24px);
            margin: 0;
            font-weight: 300;
            text-transform: none;

            .title {
                text-transform: uppercase;
                color: $primary-color;
                display: inline;
            }

            .domain-url {
                display: inline;
                color: $gray-color;
            }

            .relative-url {
                display: inline;
                color: $primary-color;
            }

            .fa {
                @include adjust-font-size-to(16px);
                color: $gray-color;
            }
        }
    }
}

.content {
    a {
        border-bottom: 1px solid $primary-color;
    }

    a:hover,
    a:focus {
        text-decoration:none;
        border-color:$gray-8-color;
    }

    img {
        display:block;
        max-width:100%;
    }

    p,
    iframe,
    ul,
    ol
     {
        margin-bottom:15px;
    }

    ul,
    ol {
        margin-left:20px;
    }

    iframe {
        display: block;
        margin-left:auto;
        margin-right:auto;
    }
}

.content__img {
    display: inline-block;
    position: relative;
    border:none !important;
    margin:1.25em auto;
    border:1px solid $border-color !important;
    width:100%;

    /*&:hover,
    &:focus {

        img {
            @include opacity(.4);
        }
        i.content__img__infos{
            display: inline-block;
        }
    }*/
}

    /*i.content__img__infos {
        padding:10px 0;
        background: #4c4c4c;
        color:$white-color;
        font-weight: 600;
        display: none;
        position: absolute;
        top: 50%;
        left:50%;
        width:150px;
        margin: -12px 0 0 -75px;

        &:after {
            margin-left:6px;
            font-size: 80%;
            font-weight: normal;
        }
    }*/

#nprogress {
    .bar {
        background: $white-color;
    }

    .spinner-icon {
        border-top-color:$white-color;
        border-left-color:$white-color;
    }

   .peg {
        box-shadow: 0 0 10px $gray-8-color, 0 0 5px $gray-8-color;
    }
}

#tree {
    position: relative;
    padding-bottom: 57px;

    &.not-found {
        padding-bottom: 408px;
    }

    &.found {
        padding-bottom: 108px;
    }

    &.thanks {
        padding-bottom: 146px;
    }

    .no--results {
        padding: 0 20px;
    }
}

.popin {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba($gray-5-color, 0.9);
    z-index: 3;
    padding-top: 10em;

    &.popin--video {
        display: table;

        .popin--container {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

    .popin--container {
        padding: 0em 1.5em;
        box-sizing: border-box;
    }

    .popin--container__controls {
        display: block;
        text-align: right;
        //padding-right: 1em;
        a {
            @include adjust-font-size-to(12px);
            font-weight: 700;
            color: $gray-8-color;
            text-transform: uppercase;
            &:hover {
                border-bottom: 1px solid rgba($gray-8-color, 0.2);
            }
        }
    }

    .popin--container__embed {
        box-sizing: border-box;
        margin-top: 1.5em;
        display: block;
        padding: 1.75em 1.5em;
        background: $white-color;

    }

    .popin--container__embed--iframe{
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

//OVERRIDE TWITTER BOOTSTRAPP
.popover {
    -webkit-border-radius:0;
    border-radius: 0;
}


.progress {
    height:15px;

    .bar {
        background-color: $gray-8-color;
        background-image: -moz-linear-gradient(top, $gray-8-color, adjust-lightness($gray-8-color, 10));
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from($gray-8-color), to(adjust-lightness($gray-8-color, 10)));
        background-image: -webkit-linear-gradient(top, $gray-8-color, adjust-lightness($gray-8-color, 10));
        background-image: -o-linear-gradient(top, $gray-8-color, adjust-lightness($gray-8-color, 10));
        background-image: linear-gradient(to bottom, $gray-8-color, adjust-lightness($gray-8-color, 10));
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#757575', GradientType=0);
    }
}

.progress-striped {
    .bar {
        background-color:$gray-8-color;
        background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    }
}

.form--free__manager,
.content__manager{
    // background: $gray-5-color;
    background: $gray-bg-2;
    padding: 0.5em;
    box-sizing: border-box;
}

.form--free__header{
    margin-bottom: 1.5em;
    position: relative;
    background: $gray-bg-1;
    min-height: 53px;
    padding: 1.5em 1.25em 0em 1.25em;
}

.header--content{
    background: $gray-bg-1;
    min-height: 53px;
    padding: 1.5em 1.25em;
}

.form--free__breadcrumb {
    overflow: visible;
    position: relative;
}

.form--free__breadcrumb,
.content__breadcrumb{
    @include adjust-font-size-to(24px);
    margin: 0;
    font-weight: 300;
    text-transform: none;
    color: $black-color;
    // padding: 0em 0em 0em 1em;

    .form--free__breadcrumb--past{
        color: $gray-color;

        &:after{
            content:"\f105";
            font-family: FontAwesome;
            position: relative;
            font-weight: 100;
            margin: 0 10px;
        }
    }
}

.form--free__actions{
    // margin-top: 30px;
    //padding: 0em 2em;
    // margin-bottom: 10px;
    position: absolute;
    right: 0px;
    top: 0px;

    .form--free__actions__switch-wrapper{
        width: 150px;
        // margin-left: 60px;
        top: .5em;
        position: absolute;
        right: 200px;

        .form--free__actions__switch {
            label {
                width: 100%;
            }
        }
    }
}

.form--free__actions__preview{
    @include adjust-font-size-to(11px, 0.6);
    color: $gray-color;
    text-transform: uppercase;
    font-weight: 600;

    &:hover{
        color: $primary-color;
    }

    &:after{
        content:"\f178";
        font-family: FontAwesome;
        margin-left: 10px;
        position: relative;
        @include adjust-font-size-to(11px, 0.6);

    }
}

.form--free__errors {
    position: absolute;
    top: 0px;
    left: 350px;
    color: #ff0000;
    text-transform: uppercase;
    font-size: 14px;
    width: 600px;

    .form--free__errors__status {
        background: #f00;
        color: $white-color;
        padding: 6px 5px 6px 8px;
        border-radius: 3px;
        margin-right: 12px;
    }

    .form--free__errors__msg {
        font-weight: 600;
        font-size: 12px;
    }
}

.form--free__actions__switch-wrapper{
    width: 83px;
}

.form--free__actions__switch{
    // padding: 0 54px;
    .form--free__actions__switch__checkbox{
        cursor: pointer;

        &:checked{
            ~ label{
                //PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE4LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMzEgMTgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMxIDE4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iIzA3OTk0MyIgZD0iTTksMThoMTNjNSwwLDktNCw5LTljMC01LTQtOS05LTlMOSwwQzQsMCwwLDQsMCw5QzAsMTQsNCwxOCw5LDE4eiBNOS44LDJoMTEuNEMyNS41LDIsMjksNS4xLDI5LDkKCWMwLDMuOS0zLjUsNy03LjksN0g5LjhDNS41LDE2LDIsMTIuOSwyLDlDMiw1LjEsNS41LDIsOS44LDJ6Ii8+CjxjaXJjbGUgZmlsbD0iIzA3OTk0MyIgY3g9IjIyIiBjeT0iOSIgcj0iNSIvPgo8L3N2Zz4=
                // background: image-url('switch-on.svg') no-repeat center center;
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE4LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMzEgMTgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMxIDE4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iIzA3OTk0MyIgZD0iTTksMThoMTNjNSwwLDktNCw5LTljMC01LTQtOS05LTlMOSwwQzQsMCwwLDQsMCw5QzAsMTQsNCwxOCw5LDE4eiBNOS44LDJoMTEuNEMyNS41LDIsMjksNS4xLDI5LDkKCWMwLDMuOS0zLjUsNy03LjksN0g5LjhDNS41LDE2LDIsMTIuOSwyLDlDMiw1LjEsNS41LDIsOS44LDJ6Ii8+CjxjaXJjbGUgZmlsbD0iIzA3OTk0MyIgY3g9IjIyIiBjeT0iOSIgcj0iNSIvPgo8L3N2Zz4=) no-repeat center center;
                &:before {
                    text-decoration: none;
                }
                &:after{
                    color: $primary-color !important;
                    text-decoration: underline;
                }
            }
        }
        &:not(:checked){
            ~ label{
                // background: image-url('switch-off.svg') no-repeat center center;
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE4LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMzEgMTgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMxIDE4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0iI0ZGNDAxMCIgZD0iTTIyLDBIOUM0LDAsMCw0LDAsOWMwLDUsNCw5LDksOWgxM2M1LDAsOS00LDktOUMzMSw0LDI3LDAsMjIsMHogTTIxLjIsMTZIOS44QzUuNSwxNiwyLDEyLjksMiw5CgljMC0zLjksMy41LTcsNy45LTdoMTEuNEMyNS41LDIsMjksNS4xLDI5LDlDMjksMTIuOSwyNS41LDE2LDIxLjIsMTZ6Ii8+CjxjaXJjbGUgZmlsbD0iI0ZGNDAxMCIgY3g9IjkiIGN5PSI5IiByPSI1Ii8+Cjwvc3ZnPg==) no-repeat center center;
                &:before{
                    color: $orange-color;
                    text-decoration: underline;
                }
            }
        }
    }
}
.form--free__manager__step-manager{
    position: relative;

    .step--line {
        width: 1px;
        position: absolute;
        height: 25px;
        background: #a1a1a1;
        left: 1.55em;
        z-index: 9;
        display: none;
    }
}

.step-manager__cursor{
    position: absolute;
    // width: 100%;
    top: 3px;
    height: 30px;
    margin-top: -15px;
    z-index: 20;
    right: 0px;
    left: 0em;

    &:before,
    &:after{
        content:'';
        background: $primary-color;
        position: absolute;
        left: 0px;
    }
    &:before{
        height: 2px;
        width: 100%;
        top: 15px;
    }
    &:after{
        height: 6px;
        width: 6px;
        top: 13px;
    }
    &.hidden{
        display: none;
    }
    .btn{
        position: absolute;
        right: 0px;
    }
}

.questions-manager{
    // background: $white-color;
}

.questions-manager__questions-block__heading{

}

    .questions-manager__block{
        // padding: 0.5em 2em 0em;
        background: $white-color;
        padding: 2em 1.5em 2em 2em;

        .field-input,
        .field-text,
        .field-textarea,
        .question-block__fieldset,
        .field-checkbox {
            margin-left: 20px;
        }

        &.answers-block{
            padding: 2em 1.5em 2em 2em;

            &.answers-block--bigger-trailer{
                padding: 2em 2em;
            }
        }
    }

    .questions-manager__block--bordered{
        border-bottom: 1px solid $gray-bg-2;
    }

     .questions-manager__block__heading{
        @include adjust-font-size-to(19px, .7);
        margin: 0px 0 15px;
        color: $black-color;
        text-transform: uppercase;
        font-weight: bold;
    }

.nav-pills--context__logo{
    a:hover{
        + .tooltip-powered{
            display: block;
        }
    }
}

.tooltip-powered{
    @include adjust-font-size-to(12px, .6);
    font-weight: 400;
    text-transform: none;
    display: none;
    position: absolute;
    padding: 0.5em;
    background: $gray-5-color;
    bottom: -50px;
    right: -10px;
    text-align: center;
    z-index: 9;
    width: 165px;

    &:before{
        @include cssArrow(10px, transparent, transparent, $gray-5-color, transparent);
        position: absolute;
        top: -20px;
        right: 10px;
    }

    span{
        display: block;
    }
}

.question-show-wrapper{
    padding: 0px 1.25em;
}

.switch__wrapper{
    height: 34px;
    // margin: 2px 0;
    border: 1px solid $gray2-color;
    padding: 4px;
    background: $white-color;
    border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: hidden;
    float: right;

    ul {
        height: 26px;

        li {
            display: block;
            list-style-type: none;
            height: 24px;
            padding: 0 10px;
            float: left;

            a{
                @include adjust-font-size-to(11px, .75);
                color: $font-color;
                text-transform: uppercase;
                font-weight: 600;
                // padding: .5em 0;
                display: block;
                // vertical-align: middle;

                &:hover {
                    color: $primary-color;
                }
            }

            &.active{
                background: $primary-color;
                border-radius: 3px;
                -o-border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;

                a{
                    color: $white-color;

                    &:hover {
                        color: $white-color !important;
                    }
                }
            }
        }
    }

}

.sort__view__link,
.sort__pager__link{
    text-transform: uppercase;
    color: $gray-color;

    &:hover{
        // color: $primary-color;
    }
}

.sort__pager__link{
    margin: 0em 2em;

    &.disabled {
        color: $gray2-color !important;
        &:hover {
            // pointer-events: none;
            cursor: default;
            color: $gray2-color;
        }
    }
}

.sort__view{
    padding: 0em 2em 0em 4em;
}

.sort__pager,
.sort__view{
    @include adjust-font-size-to(13px);
    float: left;
}

.sort__pager__state{
    color: $gray-color;
}

.url__list-view__wrapper {
    background: $white-color;
}

.url__list-view__add {
    padding: 1.25em;
    clear: both;
}

.url__edit-view {
    background: $white-color;
    padding: 3em;
    min-height: 500px;
    position:relative;

    &.full {
        width: 100%;

        .sidebar__close {
            left: 0.7em;
        }
    }

    .sidebar__close {
        position: absolute;
        top: 1em;
        left: -1.2em;
        @include adjust-font-size-to(25px, .5);
        color: lighten($font-color, 10);

        .fa {
            line-height: 0
        }

        &:hover {
            color: $primary-color;
        }
    }

    .url__title {
        margin: 0 0 2em 0;
        @include adjust-font-size-to(24px, 1);
        font-weight: 600;

        a {
            color: $black-color;

            &:hover {
                & + .label {
                    display: inline-block;
                }
            }
        }

        .label {
            @include adjust-font-size-to(11px, .4);
            border-radius: 3px;
            background: $gray-5-color;
            padding: 0.25em 0.5em;
            font-weight: 300;
            color: $black-color;
            text-transform: uppercase;
            // display: inline-block;
            vertical-align: middle;
            margin-top: -.5em;
            margin-left: 1em;
            display: none;
        }
    }

    .panel__url {
        padding: 2em;
        background: $list-hover-color;
        margin: 0;
        margin-bottom: 1em;

        .bold {
            font-weight: 600;
        }
    }
}

.list-group-wrapper--url-edit {
    margin-bottom: 1.25em;
    position: relative;

    .step-manager__cursor{
        top: 0px;
        left: 0px;
    }

    .tools {
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -.5em;
        display: none;

        a {
            color: $gray-color;
            margin-left: .25em;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .panel-heading,
    .media{
        &:hover {
            .tools {
                display: block;
            }
        }
    }

    .media {
        position: relative;
    }

    .list-group-tutorial-item {

        .media-link {
            &:hover {
                background: $white-color;
            }
        }

        .accordion-toggle {
            &:hover {
                & + .tools {
                    opacity: 1;
                }
            }
        }
        &:first-child {
            .media {
                border-top: 1px solid $border-color;
            }
        }
        &:last-child {
            .media {
                border-bottom: 0px;
            }
        }
    }
}

.stats__wrapper {
    background: $gray-6-color;
    padding-top: 1em;
}

.stats__sort {
    background: $gray-6-color;
}

.panel--stats {
    clear: both;
    width: 100%;
    float: left;
    // padding: 2.5em;
    margin-bottom: 3em;
    border-bottom: 4px solid $gray3-color;
}

.panel--failed {
    .panel__content {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAAOklEQVQYlX3JuREAIAwDMEOX/XdNSlPA8TqoFdyduUISiYionzMz3f0AiJ4ner+7rzv6vdXyRmcHoAH63ju7WVx+ZAAAAABJRU5ErkJggg==') repeat;
        border: 2px solid $white-color;
        text-align: center;
        padding: 5em 0em;

        h2 {
            @include adjust-font-size-to(22px);
            color: $gray2-color;
            margin: 0;
            font-weight: 600;
        }
    }
}

.panel--required-attention {
    .table--stats {
        td:first-child {
            width: 58%;
        }
    }
}

.panel--required-attention,
.panel--failed,
.panel--popular{
    margin-bottom: 3em;
}

.panel--required-attention,
.panel--failed,
.panel--popular,
.panel--most-viewed {
    clear: both;
    background: transparent;
    border-bottom: 4px solid $gray3-color;

    .panel__heading {
        padding-left: 2.5em;
        margin-bottom: 1.25em;

        h2 {
            @include adjust-font-size-to(22px);
            color: $font-color;
            font-weight: 600;
            display: inline-block;
            margin: 0;
        }

        .info {
            color: $gray-color;
        }

        .view-all {
            @include adjust-font-size-to(12px);
            font-weight: 600;
            text-transform: uppercase;
            margin-left: 1.25em;
        }
    }
}

.sort--links {
    // position: absolute;
    // right: 0px;
    .list {
        position: absolute;
        right: 0px;
        top: 25px;
        right: 2em;
    }
}

.import-wrapper {
    background: $gray-bg-1;
    padding: 0.5em 0;

    .import-panel {
        background: $white-color;
        padding: 3em 16em;
    }

    .import-panel--tiny {
        padding: 3em 4em;
    }

    .import-panel__heading {
        text-align: center;
        margin-bottom: 4.25em;

        .import-panel__logo {
            margin-bottom: 2em;
        }

        h2 {
            @include adjust-font-size-to(30px, 2.5);
            margin: 0;
            color: #000033;
            font-weight: 600;
        }

        h3 {
            @include adjust-font-size-to(15px, .8);
            color: #000033;
            font-weight: 300;
            margin-top: 1.5em;
            margin-bottom: 0;
        }
    }

    .import-panel__inner{
        text-align: center;
    }

    .import-panel__inner--splited {
        border: 10px solid $gray-5-color;
        width: 100%;
        clear: both;

        .import-panel__col {
            width: 50%;
            float: left;
            box-sizing: border-box;
        }

        .import-panel__col--first {
            padding: (50px / 15px) * 1em;
            border-right: 5px solid $gray-5-color;

            h3 {
                @include adjust-font-size-to(21px, 0.5);
                color: $black-color;
                font-weight: 500;
                text-transform: uppercase;
                margin-bottom: 60px;
            }

            .btn {
                margin-bottom: 60px;
            }

            p {
                @include adjust-font-size-to(19px, 1.3);
                color: $gray-8-color;
                font-weight: 500;
            }
        }

        .import-panel__col--last {
            padding: (130px / 15px) * 1em;
            border-left: 5px solid $gray-5-color;

            .underlined {
                @include adjust-font-size-to(21px, 2.2);
                font-weight: 500;
                color: $black-color;
                text-decoration: underline;
                text-transform: uppercase;

                .block {
                    display: block;
                    text-decoration: none;
                    color: $primary-color;
                    @include adjust-font-size-to(22px, 2);
                }
            }
        }

    }

    .import-panel__graphic {
        margin-top: 3em;
        margin-bottom: 2em;

        .separator {
            @include adjust-font-size-to(18px, 0);
            color: $gray-color;
            margin: 0 1.5em;
        }
    }

    .import-panel__footer {
        p {
            @include adjust-font-size-to(17px, 1.2);
            color: $font-color;
            font-weight: 500;
            margin-bottom: 3em;
        }
    }

    .import-panel__face > .fa,
    .import-spinner {
        background: #339933; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzOTkzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZTAwZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #339933 0%, #4e00ff 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#339933), color-stop(100%,#4e00ff)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #339933 0%,#4e00ff 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #339933 0%,#4e00ff 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #339933 0%,#4e00ff 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #339933 0%,#4e00ff 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339933', endColorstr='#4e00ff',GradientType=0 ); /* IE6-8 */
    }

    .import-panel__status {
        border: 10px solid $gray-5-color;
        padding: 5em 7em;

        h2 {
            @include adjust-font-size-to(21px, 0.8);
            color: $black-color;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 2em;
        }

        .import-spinner{
            height: 46px;
            width: 46px;
            border-radius: 100%;
            margin: 0 auto;
            position: relative;

            animation: rotateAnimation linear .5s infinite;
            -webkit-animation: rotateAnimation linear .5s infinite;
            -moz-animation: rotateAnimation linear .5s infinite;
            -o-animation: rotateAnimation linear .5s infinite;
            -ms-animation: rotateAnimation linear .5s infinite;

            &:after {
                width: 30px;
                height: 30px;
                position: absolute;
                content: '';
                background: $white-color;
                border-radius: 100%;
                top: 8px;
                left: 8px;
            }
        }
    }

    .import-panel__face{
        width: 60px;
        height: 60px;
        margin: 0 auto;
        position: relative;

        .fa {
            @include adjust-font-size-to(69.7px, 11.2);
            position: absolute;
            top: 0px;
            left: 0px;
            -webkit-background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .go-back {
        @include adjust-font-size-to(13px, 0.8);
        margin-top: 3em;
        display: block;
        color: $font-color;
        font-weight: 600;

        .fa {
            margin-right: 0.5em;
        }
    }
}
