.container-helpcenter {
  padding-bottom: 3.125em;
  max-width: 1024px;
  margin: 0 auto !important;
  float: none !important;
}

.search-default {
  margin-left: 3.125em;
  margin-bottom: 3.125em;
  margin-top: 3.125em;

}

.elements-container {
  padding-top: 0.313em;
  padding-bottom: 0.313em;
}

.default-title {
  //  margin-top: 0.625em;
  background-color: $white-color;
  height: 90px;
  padding-top: 1.563em;
  padding-left: 1.875em;
  padding-right: 1.875em;
  color: $font-color;

  h4 {
    height: inherit;
    vertical-align: bottom;
    margin: 0px;
    display: table-cell;
  }

  a {
    color: $gray-color;
    font-weight: bolder;
    @include adjust-font-size-to(13px);

    &:hover {
      color: $font-color;

    }
    i {
      margin-left: 0.938em;
    }
  }

}

.default-items {

  background-color: $white-color;
  padding-left: 2.188em;
  padding-right: 2.188em;
  padding-bottom: 0.625em;
  padding-top: 0.625em;

  //  &:hover{
  //    color: $orange-color;
  //  }
  i {
    color: $gray-color;
    margin-right: 0.938em;
  }

}