.main-search {

  //  background-color: $white-color;
  //  padding-top: 1.875em;
  margin-top: 0.625em;
  padding-bottom: 1.875em;

  .container-search {


    .search-title {
      background-color: $white-color;
      height: 5.625em;
      padding-top: 1.563em;
      padding-left: 1.875em;
      padding-right: 1.875em;
      color: $font-color;

      h3 {
        height: inherit;
        vertical-align: bottom;
        margin: 0px;
        display: table-cell;
      }
      a {
        color: $gray-color;
        font-weight: bolder;
        @include adjust-font-size-to(13px);

        &:hover {
          color: $font-color;

        }
        i {
          margin-left: 0.938em;
        }
      }
    }

    .search-input {

      background-color: $white-color;
      padding-left: 1.875em;
      padding-right: 1.875em;
      padding-top: 1.563em;

    }
    .search-results {
      padding-right: 1.563em;
      a {
        color: $gray-color;

      }

    }
    .search-items {

      background-color: $white-color;
      padding-left: 1.875em;
      padding-right: 1.875em;
      padding-bottom: 0.625em;
      padding-top: 0.625em;
      margin-top: 0.125em;
      margin-bottom: 0.125em;

      //  &:hover{
      //    color: $orange-color;
      //  }
      i {
        color: $gray-color;
        margin-right: 0.938em;
      }
      a {
        background-color: $yellow-color;
        color: $orange-color;
        font-weight: bolder;

      }
    }
  }
  .result-bottom {

    //  margin-top: 0.625em;
    background-color: $white-color;
    height: 3.125em;
    padding-top: 0.625em;
    padding-right: 1.875em;
    color: $font-color;

    a {
      color: $gray-color;
      font-weight: bolder;
      @include adjust-font-size-to(13px);

      &:hover {
        color: $font-color;

      }
      i {
        margin-left: 0.938em;
      }

    }
  }

}







