.sidebar-row {
  height: 0px;
  background-color: $gray-bg-1;
  padding-left: 2.188em;

  h4 {
    padding-left: 0.313em;
    text-shadow: 1px 1px #D3D3D3;
  }

  .sidebar-getintouch {

    position: relative;
    padding-top: 1.563em;

    .getintouch-items {

      li {
        a {
          color: $font-color !important;
          font-weight: bolder;
          font-size: 0.750em;

        }
        a:hover {
          color: $orange-color !important;
          text-shadow: none !important;
        }

        .fa-long-arrow-right {
          color: $orange-color !important;
          padding-left: 0.625em;

        }

      }

      li {
        list-style-type: none;
        margin-left: .5em;
        margin-bottom: 0.750em;

        &:last-child {
          margin-bottom: .5em;
        }

        a {
          display: inline-block;
        }

      }

      a {
        @include adjust-font-size-to(14px, 0.7);
        font-weight: 500;
        color: $gray-8-color;
      }
    }
  }

  .sidebar-categories {
    position: relative;
    padding-top: 1.563em;

    .categories-items {
      margin-top: 0.938em;
      li {
        a {
          color: #333 !important;
          text-shadow: #D3D3D3 !important;
          font-size: 1em;

        }
        a:hover {
          color: $orange-color !important;
          text-shadow: none !important;
//          font-weight: bolder;

        }
        .fa-long-arrow-right {
          color: $orange-color !important;
        }

      }

      li {
        list-style-type: none;
        margin-left: .5em;
        margin-bottom: 0.750em;

      }

      a {
        @include adjust-font-size-to(14px, 0.7);
        font-weight: 500;
        color: $gray-8-color;
      }
    }

  }
  .sidebar-powered {

    padding-left: 0.938em;
    margin-top: 35px;

    span a {
      color: $gray-color !important;
      font-weight: bolder;
      font-size: 0.750em;

    }
  }

}