//FONT
$base-font-size: 16px;
$font-unit: 1rem;

//COLORS
$font-color:#333;
$white-color:#fff;
$black-color:#000;
$gray-color:#999;
$gray2-color:#ccc;
$gray3-color:#eee;
$gray-4-color:#5B5B5B;
$gray-5-color:#f4f4f4;
$gray-6-color:#f2f2f2;
$gray-7-color:#f9f9f9;
$gray-8-color:#666;
$primary-color:#090;
$border-color:#ededed;
$darken-border:#e6e6e6;
$list-hover-color:#f8f8f8;
$select-color:#fdfdfd;
$header-color:#090;
$light-green-color:#f6fef6;
$light-green-border-color: #d7f2d7;
$orange-color: #ff4010;
$red-color: #FF2319;
$yellow-color: #F7FF5D;


//$border-color:#d6d4d5;


//NAV
$nav-bg-color:#ebeaea;
$nav-link-color-hover:#565656;
$nav-link-bg-active:#f3f2f2;

// BS3 NEW VARIABLES
$gray-bg-1: #fafafa;
$gray-bg-2: #f2f2f2;
$gray-bg-3: #fdfdfd;
$gray-bg-4: #f7f7f7;
$active-blue: #6600cc;
