.list-group {
    border-bottom:1px solid $border-color;

    &:nth-child(1) {
        //border-top:1px solid $border-color;
    }

    .accordion-toggle {
        padding-right:5.5em;
        position: relative;
        display: block;
        padding: 12px 15px;

        &:hover {
            text-decoration: none;
            //background: $list-hover-color;
            //background:darken($list-hover-color,2);
            color:$primary-color;

            .content-type__icon {
                color:$primary-color;
            }
        }
    }


    // ICI
    .panel-heading {
        &:hover {
            background:darken($list-hover-color,2);
            .content-type__icon{
                color: $primary-color;
            }
        }

        .content-type__icon {
          margin-right: 5px;
          color: $gray-color;
        }
    }
}

.list-group-sub-cat {
    border-top:1px solid $border-color;

    .list-group-item__heading {
        @include adjust-font-size-to(16px);
        padding-left: 3.5em;
        font-weight:normal;
        padding-top: .8em;
        padding-bottom: .8em;

        .list-group__toogle {
            margin-right:5px;
        }
    }

    .list-group-item__header {
        background: $white-color;
    }
    .list-group-item__action {
        top:.5em;
    }

    .list-sub-group {
        .accordion-toggle,
        .panel-collapse {
            padding-left: 3.6em;
        }
    }

    .list-group-sub-cat {
        .list-group-item__heading {
            padding-left: 4.7em;
        }

        .list-sub-group {
        .accordion-toggle,
        .panel-collapse {
                padding-left: 4.8em;
            }
        }
    }
}

.list-sub-group {
    .accordion-toggle,
    .panel-collapse {
        padding-left: 2.5em;
    }

    &.search {
      .accordion-toggle {
        padding-left: 15px;
      }
    }
}


    .list-group-item {
        position: relative;
    }

        .list-group__toogle {
            color:$gray-color;
            margin:0 1px 0 -17px;
            font-size:72%;
            position:relative;
            top:-1px;
        }

        .list-group-item__header {
            background:$white-color;
            &:hover,
            &.is-active {
                color:$primary-color;

                .list-group__toogle {
                    color:$primary-color;
                }
            }

            &:hover {
                //text-decoration:underline;
                cursor: pointer;
                background: $list-hover-color;

                .list-group-item__action {
                    @include opacity(1);
                }
            }
        }

        .list-group-item__heading {
            @include adjust-font-size-to(19px);
            margin:0;
            display: block;
            font-weight:600;
            //padding:.5em 4em .5em 2em;
            padding:1.2em 4em 1.2em 2em;
        }



        .list-group-item__action {
            @include opacity(0);
            position: absolute;
            right:1.3em;
            // top:1.1em;
            top: 50%;
            margin-top: -12px;

            .lnk-tooltip {
                font-size:90%;
                padding: 0 2px;
            }
        }

.list-sub-group {
    .list-group-item {
        border-top:1px solid $border-color;
        background: $list-hover-color;

        .accordion-toggle {
            font-weight: 700;
        }

        .panel-heading:hover {
            background: $list-hover-color;
        }

        &.collapsed {
            background: $white-color;

            .panel-collapse {
                border-top: none;
            }

            .accordion-toggle {
                font-weight: 500;
            }
        }

        &:hover {
            background: $list-hover-color;
        }
    }
}

.list-group-tutorial{
    background: $white-color;
}
    .list-group-tutorial-item{
        position: relative;

        .media{
            border-bottom: 1px solid $border-color;
            margin-top: 0px;
            overflow: visible;
        }

        .media-link{
            padding: 1em;
            color:$black-color;
            position: relative;
            display: table;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            &:hover {
                // color: $primary-color;
                background: $list-hover-color;
                .list-group-tutorial-item__action{
                    opacity: 1;
                }
                .media-object__wrapper{
                    &:after, .icon-play{
                        opacity: 0;
                    }
                }
            }
        }

        .media-object{
            display: table-cell;
            width: 110px;
            position: relative;
        }

        .media-object__wrapper{
            border: 1px solid $border-color;
            position: relative;
            width: 100%;
            min-width: 100%;
            img {
                width: 100%;
            }
            .icon-play {
                position: absolute;
                bottom: 0px;
                right: 0px;
                z-index: 2;
            }
            &:after{
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: $black-color;
                opacity: 0.1;
                height: 100%;
                width: 100%;
                display: block;
            }
        }

        .media-body{
            position: relative;
            padding: 0 0 0 1em;
            display: table-cell;
            vertical-align: middle;
        }

        .media-heading {
            @include adjust-font-size-to(16px);
            position: relative;
            font-weight: 400;
            margin: 0px;
        }

    }

        .list-group-tutorial-item__heading {
            @include adjust-font-size-to(19px);
            margin:0;
            display: block;
            font-weight:600;
            padding: 1em 2em 0.5em 1em;
            a {
                color:$black-color;
                &:hover{
                    color: $primary-color;
                    span {
                        color: $primary-color;
                        // border-color: $primary-color;
                        &:before{
                            background: $primary-color;
                        }
                    }
                }
            }
        }

        .list-group-tutorial-item__action{
            overflow: visible;
            position: absolute;
            right: 1em;
            top: 50%;
            margin-top: -12px;
            opacity: 0;
            .tooltip{
                width: 110px;
            }
        }

        .list-group-tutorial-item__heading--view-more {
            @include adjust-font-size-to(12px, 0.5);
            color: $gray-color;
            text-transform: lowercase;
            position: relative;
            white-space: nowrap;
            margin-left: 15px;
            display: inline-block;
            &:before{
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 1px;
                content:"";
                background: transparent;
            }
            &:after {
                position: absolute;
                margin-left: 6px;
                content: "\279E";
                display: inline-block;
            }
        }

        .list-group-tutorial-item__heading--arrow-return {
            display: inline-block;
            position: absolute;
            margin-left: 15px;
        }

.list-view-all{
    // background: $white-color;
}
    .list-view-all-item{
        position: relative;

        .media{
            border-bottom: 1px solid $border-color;
            margin-top: 0px;
            overflow: visible;
        }

        .media-link{
            padding: 1em;
            color:$black-color;
            position: relative;
            display: table;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            &:hover {
                // color: $primary-color;
                background: $list-hover-color;
                .list-view-all-item__action{
                    opacity: 1;
                }
                .media-object__wrapper{
                    &:after, .icon-play{
                        opacity: 0;
                    }
                }
            }
        }

        .media-object{
            display: table-cell;
            width: 110px;
            position: relative;
        }

        .media-object__wrapper{
            border: 1px solid $border-color;
            position: relative;
            width: 100%;
            min-width: 100%;
            img {
                width: 100%;
            }
            .icon-play {
                position: absolute;
                bottom: 0px;
                right: 0px;
                z-index: 2;
            }
            &:after{
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                background: $black-color;
                opacity: 0.1;
                height: 100%;
                width: 100%;
                display: block;
            }
        }

        .media-body{
            position: relative;
            padding: 0 0 0 1em;
            display: table-cell;
            vertical-align: middle;
        }

        .media-type{
            @include adjust-font-size-to(13px, .6);
            color: $primary-color;
            margin: 0px;
            font-weight: 400;
        }

        .media-heading {
            @include adjust-font-size-to(16px);
            position: relative;
            font-weight: 400;
            margin: 0px;
        }

    }

        .list-group--view-all{

            .list-group-item{
                border-top: none;
                border-bottom: 1px solid $border-color;
                background: transparent;

                &:last-child{
                    border-bottom: none;
                }
            }

            .accordion-toggle{
                @include adjust-font-size-to(16px);
                background: transparent;

                &:hover{
                    background: $list-hover-color;

                    .content-type__icon{
                        color: $primary-color;
                    }

                    .list-group-item__action{
                        opacity: 1;
                    }

                    span{
                        color: $primary-color;
                    }
                }

                .list-group-item__action{
                    top: 50%;
                    margin-top: -12px;
                    right: 0.9em;
                    padding: 0px;
                }

                .fa {
                    color: $gray-color;
                }

                span {
                    font-weight: 400;
                    margin-left: .5em;
                }
            }
        }

        .list-view-all-item__heading {
            @include adjust-font-size-to(19px);
            margin:0;
            display: block;
            font-weight:600;
            padding: 1em 2em 1em 1em;
            border-bottom: 1px solid $border-color;

            a {
                color:$primary-color;

                &:hover{
                    color: $primary-color;
                }
            }
        }

        .list-view-all-item__action{
            overflow: visible;
            position: absolute;
            right: 1em;
            top: 50%;
            margin-top: -12px;
            opacity: 0;
            font-size: 90%;

            .tooltip{
                width: 110px;
            }
        }

        .list-view-all-item__heading--view-more {
            @include adjust-font-size-to(12px, 0.5);
            color: $gray-color;
            text-transform: lowercase;
            position: relative;
            white-space: nowrap;
            margin-left: 15px;
            display: inline-block;
            &:before{
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 1px;
                content:"";
                background: transparent;
            }
            &:after {
                position: absolute;
                margin-left: 6px;
                content: "\279E";
                display: inline-block;
            }
        }

.step-manager__list,
.content__list-view{
    position: relative;
    padding-left: 0.3em;
}

.content__list-view{
    width: 83%;
}

.content__list-view.full{
  width: 100%;
}

.step-manager__list {
    .step-manager__between {
        position: relative;
        height: 0.5em;

        .step-manager__cursor-wrapper {
            display: none;
        }

        &:hover {
            cursor: pointer;

            .step-manager__cursor-wrapper {
                display: block;
            }
        }
    }
}

.content__list-view{
    #tree {
        .list-group-item__action{
            .lnk-tooltip{
                font-size: 80%;
            }
        }
        .accordion-toggle {
            padding-right: 6em;
        }
    }
}

    .step-manager__list__item{
        position: relative;
        list-style-type: none;

        .step--bullet {
            @include adjust-font-size-to(11px, 0.25);
            position: absolute;
            top: 50%;
            margin-top: -.5em;
            left: 11px;
            color: #a1a1a1;
        }

        &.step-manager__list__item--active {
            .step--bullet {
                left: 8px;
                color: $active-blue;
                z-index: 10;
            }
        }

        a{
            @include adjust-font-size-to(15px);
            // min-height: 34px;
            // min-height: 3em;
            line-height: 1em;
            background: $gray-bg-1;
            // padding: 0.5em 1em 0.5em 2em;
            padding: 1em 4em 1em 7em;
            // padding-right:
            display: block;
            width: 100%;
            box-sizing: border-box;
            color: $black-color;
            transition: background 0.125s ease-in-out;
            position: relative;

            &:hover{
                background: $white-color;
                transition: background 0.125s ease-in-out;
            }
        }

        .step-manager__list__item__label{
            @include adjust-font-size-to(11px);
            // line-height: 2em;
            color: $gray-8-color;
            text-transform: uppercase;
            margin-right: 15px;
            // display: inline-block;
            min-width: 75px;
            text-align: right;
            position: absolute;
            // top: ;
            left: 1em;
            top: 50%;
            margin-top: -.5em;

            .fa {
                display: block;
            }
        }
    }

    .step-manager__list__item__action{
        position: absolute;
        top: 50%;
        right: 20px;
        display: inline;
        vertical-align: middle;
        margin-top: -13px;
        .lnk-tooltip{
            @include adjust-font-size-to(15px);
        }
    }

    .step-manager__list__item--first,
    .step-manager__list__item--last{
        a{
            padding: .9em 4em .5em 0.5em;
            background: $light-green-color;
        }
        border: 1px solid $light-green-border-color;

        .step-manager__list__item__label{
            display: inline-block;
            font-weight: 600;
            position: relative;
            min-height: 3em;
            left: 0px;
        }
    }

    .step-manager__list__item--last{
        margin-bottom: 0;
    }

    .step-manager__list__item--active{
        border: 3px solid $active-blue;
        font-weight: 600;

        &.step-manager__list__item--first,
        &.step-manager__list__item--last {
            a{
                padding: .9em 4em .5em .5em;
            }
        }

        a{
            padding: 1em 3.3em 1em 6.7em;
        }
        .step-manager__list__item__label{
            font-weight: normal;
        }
    }

.sidebar__list{
    position: relative;
    padding: .5em;

    &:before{
        content: '';
        height: 1px;
        width: 100%;
        background: $gray-bg-2;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        display: block;
    }

    .list__title{
        @include adjust-font-size-to(14px, 0.7);
        color: $font-color;
        font-weight: 700;
        margin-bottom: 13px;
    }

    .list__tree{
        // .sublist__tree {
            // margin-top: 15px;
            .sublist__tree {
                li {
                    > a {
                        &:before {
                            content: '\f111';
                        }
                    }

                    &.active {
                        a {
                            // .subsublist__tree {
                            //     li {
                            //         a {
                            //             color: $gray-8-color;
                            //             padding-left: 0px;

                            //             &:before {
                            //                 color: $gray-8-color;
                            //             }
                            //         }
                            //     }
                            // }
                        }
                    }
                }
            }

            .subsublist__tree {
              li {
                > a {
                  &:before {
                    content: '\f10c';
                  }
                }
              }
            }

            .sublist__tree,
            .subsublist__tree {
                margin-top: 15px;
                margin-left: 5px;
                li {
                    // background: blue;
                    a {
                        color: $gray-8-color;
                        position: relative;
                        padding-left: 15px;
                        display: inline-block;

                        &:before {
                            color: $gray-8-color;
                            position: absolute;
                            top: -1px;
                            left: 0px;
                            font-size: 8px;
                            font-family: 'FontAwesome';
                            // position: relative;
                            // margin-right: 8px;
                            // margin-top: -2px;
                        }
                    }

                    &.active {
                        > a {
                            padding-left: 24px;
                            color: $white-color;
                            display: inline-block;

                            &:before {
                                top: 4px;
                                left: 9px;
                                color: $white-color;
                            }

                            &:after {
                                left: 110%;
                            }

                            .subsublist__tree {
                                li {
                                    a {
                                        color: $gray-8-color;
                                        padding-left: 0px;

                                        &:before {
                                            color: $gray-8-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        // }

        li {
            list-style-type: none;
            margin-left: .5em;
            margin-bottom: 12px;

            &:last-child{
                margin-bottom: .5em;
            }

            > a {
                display: inline-block;
            }

            &.active{
                > a{
                    color: $white-color;
                    background-color: $primary-color;
                    padding: 5px 8px;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -o-border-radius: 3px;
                    margin-left: -8px;
                    position: relative;
                    display: block;

                    &:after {
                        content: '\f00d';
                        font-family: 'FontAwesome';
                        color: $primary-color;
                        position: absolute;
                        top: 4px;
                        right: -20px;
                    }
                }

                .sublist__tree,
                .subsublist__tree {
                    background-color: $white-color;
                    // margin-top: 15px;

                    a{
                        color: $gray-8-color;
                    }
                }
            }
        }

        a{
            @include adjust-font-size-to(14px, 0.7);
            font-weight: 500;
            color: $gray-8-color;
        }
    }
}

.sidebar__list--last{
    .list__tree{
        padding: .5em .5em 0em .5em;

        li:last-child{
            margin-bottom: 0px;
            &.active{
                .sublist__tree{
                    li:last-child{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

.list--sidebar {
    border-top: 1px solid #dddddd;
    margin-left: -1.5em;
    margin-right: -1.3em;

    li {
        list-style-type: none;
        border-bottom: 1px solid #dddddd;
        padding: 1.5em 1.75em;
        background: $gray-bg-1;
        display: block;
        color: $black-color;
        cursor: pointer;
        position: relative;

        &.added {
            &:hover {
                color: #b2b2b2 !important;
                cursor: default;

                .fa,
                .btn {
                    color: #b2b2b2 !important;
                }

                .btn {
                    border-color: #b2b2b2 !important;
                    padding: 9px 8px 8px;

                    &:before{
                        display: none;
                    }

                    &:hover {
                        cursor: default;
                    }
                }
            }

        }

        .fa {
            color: #b2b2b2;
            margin-right: 1em;
            top: 8px;
        }

        &:hover {
            background: $gray-bg-2;
            color: $primary-color;

            .fa {
                color: $primary-color;
            }

            .btn {
                display: block;
            }
        }

        .btn {
            display: none;
            position: absolute;
            top: 1.5em;
            right: 1em;
            padding: 9px 8px 8px 20px;
        }
    }
}

.list--menu {
    .list__item {
        list-style-type: none;
        margin-bottom: 2em;
        display: block;

        a {
            @include adjust-font-size-to(14px, .5);
            display: block;
            text-transform: uppercase;
            font-weight: 600;
            color: $font-color;

            &.is-active,
            &:hover {
                color: $primary-color;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .list__sub-item {
        margin-left: 1em;
        .fa {
            // font-size: .7em;
            vertical-align: middle;
            margin-top: -3px;
        }
    }
}

.list--stats {
    float: left;
    padding: 2.5em;

    .list__item {
        list-style-type: none;
        float: left;
        margin-right: 2.5em;

        .stat-label {
            @include adjust-font-size-to(13px, .5);
            margin-bottom: 1.25em;
            color: $black-color;
            text-transform: uppercase;
        }

        .green {
            color: #339933;
            &:after {
                background: #339933;
            }
        }

        .red {
            color: #ff0000;
            &:after {
                background: #ff0000;
            }
        }

        .black {
            color: #000;
            &:after {
                background: #000;
            }
        }

        a:hover {
            .stat-value{
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: -3px;
                    height: 3px;
                }
            }
        }

        .stat-value {
            @include adjust-font-size-to(36px, 3);
            display: inline-block;
            font-weight: 700;
        }

        .stat-label {
            display: block;
        }

        &:last-child{
            margin-right: 0em;
        }
    }
}

.list--primary-stats {
    // margin-right: 3em;
    border-right: 1px solid $gray3-color;
}

.list--secondary-stats {
    .list__item {
        .stat-value{
            font-weight: 300;
        }

        .grey {
            color: $gray-color;
            &:after {
                background: $gray-color;
            }
        }

        .light-grey {
            color: $gray2-color;
            &:after {
                background: $gray2-color;
            }
        }
    }
}

.list--sort {
    .list__item {
        list-style-type: none;
        display: inline-block;

        a {
            @include adjust-font-size-to(14px);
            margin-right: 1.25em;
            text-transform: uppercase;
            color: $black-color;

            &.is-active,
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.list--btn {
    width: 520px;
    margin: 0 auto;
    text-align: left;

    .list__item {
        list-style-type: none;
        display: inline-block;
        margin-right: 0.5em;
        margin-bottom: 0.75em;

        &:last-child {
            margin-right: 0;
        }
    }
}
