.main-nav {
    position: relative;
    margin-top: 2em;
    padding-bottom: 2em;
    // border-bottom: 1px solid $gray2-color;
    height: 60px;

    &:after{
        content: "";
        height: 1px;
        width: 100%;
        background: $border-color;
        position: absolute;
        bottom: 0px;
        left: 0px;
    }

    .on-site-margin {
      margin-top: -10px;
    }
}

.nav-pills {
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 0px;

    > li {
        + li {
            margin-left:30px;
        }

        a {
            padding:7px 0px;
            border-radius: 0px;
            margin-bottom: 0px;
            position: relative;

            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: 0px;
                left: 0px;
                background: transparent;
                z-index: 2;
            }

            &:hover,
            &:focus {
                background: transparent;
                &:after {
                    background: $primary-color;
                }
            }
        }
    }

    a {
        @include adjust-font-size-to(13px);
        color:$gray-8-color;
        font-weight: 500;
        padding-bottom: 7px;

        &:hover {
            color:$primary-color;
            background: transparent;
        }
    }

    > .active > a,
    > .active > a:hover {
        // border-color: $primary-color;
        color:$primary-color;
        background: transparent;
        &:after {
            background: $primary-color;
        }
    }

    .btn {
        @include adjust-font-size-to(11px);
        @include adjust-leading-to(0.8);
        border: 1px solid $darken-border;
        font-weight: 700;
        &:hover {
            background: $nav-bg-color;
            border-color: $darken-border;
            &:after{
                height: 0px;
            }
        }
    }
}

    .nav-pills--context {
        margin-bottom: 32px;

        > li {
            + li {
                margin-left:22px;
            }

            a {
                padding: 8px 0px 0px 0px;
                border-bottom: none;
                font-weight: 700;

                &:after{
                    display: none;
                }
                &:hover,
                &:focus {
                    color: $primary-color;
                    border-bottom: 3px solid $primary-color;
                }
            }
        }

        a {
            @include adjust-font-size-to(13px, 0.6);

            &:hover {
                color:$primary-color;
            }
        }

        > .active > a {
            // color:$black-color !important;
            border-bottom: 3px solid $primary-color;
            &:hover{
                color:$primary-color;
            }
        }

    }

    .nav-pills--context__wrapper-right{
        width: 50%;
        position: relative;
        padding-right: 3em;
    }

    .nav-pills--context__search-block{
        position: relative;
        box-sizing: border-box;
        min-width: 100px;
        width: 100%;
        height: 32px;
        border: 1px solid $gray2-color;

        &.focused{
            border: 1px solid rgba(82, 168, 236, 0.8);
        }

        .form-control, .btn {
            box-sizing: border-box;
            float: left;
            height: 100%;
            min-height: 100%;
            border: 3px solid $gray-5-color;
        }

        .form-control {
            @include adjust-font-size-to(13px);
            width: 100%;
            max-width: 100%;
            margin-bottom: 0px;
            position: relative;
            border-radius: 0px;
            box-shadow: none;
            //text-transform: uppercase;
            padding: 8px 26px 8px 10px;

            &:focus{
                outline: 0;
            }
        }

        .form-control:focus::-webkit-input-placeholder{
            opacity: 0;
        }

        .form-control:focus:-moz-placeholder{
            opacity: 0;
        }
        .form-control:focus::-moz-placeholder{
            opacity: 0;
        }
        .form-control:focus:-ms-input-placeholder{
            opacity: 0;
        }

        .form-control:focus:-ms-input-placeholder {
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        }

        .btn {
            @include adjust-font-size-to(13px);
            @include adjust-leading-to(0.8);
            margin-right: 3px;
            position: absolute;
            background: $primary-color;
            padding: 0px;
            color: $white-color;
            border-radius: 0px;
            text-shadow: none;
            border-left: none;
            border-right: none;
            right: 0px;

            &:active {
                background: $primary-color;
                color: $white-color;
            }

            &:hover{
                border-color: $gray-5-color;
            }

            .fa{
                padding: 0px 7px;
            }
        }
    }

    .nav-pills--context__logo{
        position: absolute;
        right: 0px;
        display: inline-block;
        height: 20px;
        margin-top: 6px;

        svg{
            fill: $primary-color;
            height: 20px;
            width: 20px;
        }

        a:hover{
            svg{
                fill: $gray-8-color;
            }
        }
    }

.navbar {
    margin-bottom:0px;

    .fa-plus {
        @include adjust-font-size-to(14px, .7);
        position: relative;
        top:1px;
    }

    &.navbar-alerted {
        .container {
            padding-left: ((210px / 15px) * 1em);
            position: relative;

            .navbar-alert {
                position: absolute;
                left: 0px;
                top: 0px;
                bottom: 0px;
                width: ((180px / 15px) * 1em);
                background: #4e00ff;
                padding: .7em ((25px / 15px)*1em) .7em ((50px / 15px)*1em);

                .fa-smile-o {
                    position: absolute;
                    top: 50%;
                    @include adjust-font-size-to(26px, 1.5);
                    left: 20px;
                    color: $white-color;
                    margin-top: -.5em;
                }

                .lnk-alert{
                    color: $white-color;
                    @include adjust-font-size-to(12px, 0.5);
                    display: block;
                    text-transform: uppercase;
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    top: 0px;
                    bottom: 0px;
                    padding: 0.9em ((25px / 15px)*1em) 0.9em ((70px / 15px)*1em);

                    &:after {
                        @include cssArrow(10px, transparent, $primary-color, transparent, transparent);
                        position: absolute;
                        top: 50%;
                        margin-top: -10px;
                        right: 0px;
                    }
                }
            }
        }
    }
}
