@import "compass/typography/vertical_rhythm";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "compass/css3/box-sizing";
@import "compass/css3/appearance";

@import 'utils/variables';
@import 'utils/mixins/cssArrow';


@import 'ui/layout/layout';
@import 'ui/reset';
@import 'ui/typography';
@import 'ui/link';
@import 'ui/nav';
@import 'ui/list';
@import 'ui/accordion';
@import 'ui/tooltip';
@import 'ui/dropdown';
@import 'ui/form';
@import 'ui/popover';
@import 'ui/button';
@import 'ui/box';
@import 'ui/modal';
@import 'ui/other';
@import 'ui/tables';
@import 'ui/animations';
@import 'ui/layout/header';
@import 'ui/layout/footer';
@import 'ui/layout/responsive';
@import 'ui/dashboard';
@import "ui/layout/searchresult";
@import 'ui/layout/layout-helpcenter';
@import 'ui/layout/header-helpcenter';
@import "ui/layout/home-helpcenter";
@import "ui/layout/sidebar-helcenter";
@import "ui/layout/categories-helpcenter";
@import "ui/layout/article-helpcenter";
@import "ui/layout/search-helpcenter";






// À ENLEVER APRÈS PASSAGE À BS3
// @media (max-width: 767px){
//     .action-4000,
//     .action-4001,
//     .action-4002{
//         #header{
//             margin: 0;
//         }
//         padding: 0;
//         .navbar-inner, .navbar{
//             box-sizing: border-box;
//         }
//         .cell{
//             width: 100%;
//         }
//         .cell60{
//             margin-left: 0em;
//         }
//     }
// }
