<%@ page import="grails.util.Environment" %>
<footer id="footer">

    <div class="container">

        <div class=" footer__inner">
                <div>

                    <span>Support Hero Beta - Version <g:meta name="app.version" /></span>
                </div>


        </div>

    </div>

</footer>
